!!! 5
-ie_html :lang => 'en', :class => 'no-js' do
  %head
    = render "layouts/head", :stylesheet_partial => "layouts/stylesheets"
  %body{ :class => "#{controller.controller_name}" }
    #container
      %header#header
        = render 'layouts/header'
      #main
        #main_interior
          = render 'layouts/flashes'
          = yield
      %footer#footer
        = render 'layouts/footer'
    = render 'layouts/javascripts'
